<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">
    <a class="navbar-brand mx-auto" href="#">Fitness Tracker</a>
  </nav>
  <div class="subheader">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tracker" routerLinkActive="active">Recent Activities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/goals" routerLinkActive="active">Goals</a>
      </li>
    </ul>
  </div>
  