@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@400;700&display=swap');

.navbar {
  margin-bottom: 0;
  font-size: 1.5rem;
  background-color: #1e1e1e;
  border-bottom: 1px solid #444444;
  font-family: 'Anton', sans-serif;
}

.navbar-brand {
  color: #ffffff !important;
  font-size: 2rem; /* Adjust this value to increase or decrease the size */
}

.subheader {
  background-color: #1e1e1e;
  padding: 10px 0;
}

.nav-link {
  color: #ffffff !important;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.nav-link:hover {
  color: #f4297d !important; /* Light pink for hover effect */
}

.nav-link.active {
  color: #aa0047 !important; /* Pink for active link */
}
