<div class="home-container">
    <div class="poster">
      <img src="assets/motivation.jpg" alt="Workout Poster">
      <h2 class="quote">Push yourself, because no one else is going to <span class="highlight">do it</span> for you.</h2>
    </div>
    <div class="extra-content">
      <h3>Stay focused, stay fit.</h3>
      <p>By: Sankeerthini Dhandapani 
        <span class="separator">|</span>
        <a href="https://github.com/Sankeerthini" target="_blank" class="social-link">
          <i class="fab fa-github fa-1x"></i>
        </a>
        <a href="https://www.linkedin.com/in/sankeerthini-d" target="_blank" class="social-link">
          <i class="fab fa-linkedin fa-1x"></i>
        </a>
      </p>
    </div>
  </div>
  